/* FolderStack.css */

.folder-stack {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px; /* Adjust the margin-top as needed */
  }
  
  .folder {
    position: relative;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .folder:hover {
    transform: scale(1.05);
  }
  
  .expanded {
    transform: translateY(-50%) scale(1.05);
    z-index: 1;
  }
  
  .stack {
    position: relative;
    background-color: #3498db;
    border: 1px solid #2c3e50;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .stack:hover {
    transform: scale(1.05);
  }
  